*{ padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
font-size: 100%;
background: linear-gradient( to top, #84baf0 , #c9ecf4);
  }
 .logo{
  margin: 10px;
  padding: 10px;
 }



div.image{
    display: flex;

      
  }
  
.redes {
 
  flex-direction: row;
  margin: 5px;

}


